/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&family=Inter:wght@400;500&display=swap");

@import "tailwindcss";

:root {
	--font-heading: "Plus Jakarta Sans", sans-serif;
	--font-body: "Inter", sans-serif;
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
	font-weight: 600;
}

body,
p,
button {
	font-family: var(--font-body);
}
